.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #ECF1FE;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #C5D6FB;
  border-radius: 10px;
  width: 95% !important;
  max-width: 1000px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-in-out;
}

.close {
  color: #4A90E2;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.close:hover,
.close:focus {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #C5D6FB;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  background-color: #4A90E2;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #007bff;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Add styles for the navbar */
nav.top-right-buttons {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #D8E4FC;
  background-image: radial-gradient(#C5D6FB 1px, transparent 1px);
  background-size: 10px 10px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.left-buttons, .right-buttons {
  display: flex;
  align-items: center;
}

.left-buttons {
  margin-right: auto;
}

.right-buttons {
  margin-left: auto;
}

/* Common styles for all buttons and links in navbar */
.left-buttons .nav-link,
.right-buttons button,
.left-buttons button {
  background-color: #3c76f1;
  color: white;
  padding: 8px 16px;
  margin: 0 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
  border: none;
  font-size: 14px;
  line-height: 1.5;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 80px;
  height: 36px;
  box-sizing: border-box;
}

.left-buttons .nav-link:hover,
.right-buttons button:hover,
.left-buttons button:hover {
  background-color: #244791;
  color: white;
}

.left-buttons .nav-link.active,
.navbar-menu .nav-link.active {
  background-color: #244791;
  color: white;
}

.navbar-title {
  font-family: 'Lobster', cursive;
  font-size: 1.5rem;
  color: #4A90E2;
  margin-right: 20px;
  display: block;
}

/* Specific right buttons styles */
.right-buttons {
  margin-right: 20px;
}

.right-buttons button {
  margin-left: 10px;
}

/* Reset any default link styles */
.nav-link {
  text-decoration: none;
  color: white;
}

/* Ensure consistent height and width */
.left-buttons .nav-link,
.right-buttons button,
.left-buttons button,
.navbar-menu .nav-link {
  height: 36px;
  min-width: 80px;
  padding: 8px 16px;
  white-space: nowrap;
}

.login-modal-body {
  display: flex;
  align-items: center;
}

.login-image {
  width: 50%;
  height: auto;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.login-form {
  flex: 1;
  padding: 20px;
}

/* Add styles for the menu icon */
.menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: #4A90E2;
  margin-right: 20px;
  transition: transform 0.3s ease;
}

/* Rotate the icon when the menu is open */
.menu-icon.open {
  transform: rotate(90deg);
}

.navbar-menu {
  display: none;
}

/* Responsive styles */
@media (max-width: 768px) {
  .left-buttons, .right-buttons {
    display: none;
  }

  .navbar-title {
    display: block;
  }

  .menu-icon {
    display: block;
    margin-left: auto;
  }

  .navbar-menu {
    display: none;
  }

  .navbar-menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: #D8E4FC;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    padding: 10px;
    width: 220px;
    transform: translateX(0);
    transition: transform 0.3s ease;
  }

  .navbar-menu .nav-link,
  .navbar-menu button {
    margin: 5px 0;
    width: 100%;
    max-width: 200px;
    background-color: #3c76f1;
    color: white;
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 4px;
    text-align: center;
    transition: background-color 0.3s;
    box-sizing: border-box;
  }

  .navbar-menu .nav-link:hover,
  .navbar-menu button:hover {
    background-color: #244791;
  }

}

@media (max-width: 680px) {
  /* Hide the login image on small screens */
  .login-image {
    display: none;
  }

  /* Hide the register image on smaller screens */
  .register-image {
    display: none;
  }
}
