.error-message {
    color: red;
}

.register-modal-body {
    display: flex;
    align-items: center;
}

.register-image {
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.register-form {
    flex: 1;
    padding: 20px;
}

.modal-content {
    background-color: #ECF1FE;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #C5D6FB;
    border-radius: 10px;
    width: 95% !important;
    max-width: 1000px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-in-out;
}